<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15" >
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">Ganti Password</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->

<div ng-controller="ChangePasswordController">  

	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<form role="form" class="form-horizontal" ng-submit="changePassword(password)">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Password Lama</label>
						<div class="col-sm-10">
							<input type="password" placeholder="Password Lama" id="inputEmail3" class="form-control" ng-model="password.oldPassword">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Password Baru</label>
						<div class="col-sm-10">
							<input type="password" placeholder="Password Baru" id="inputEmail3" class="form-control" ng-model="password.newPassword">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Ulangi Password Baru</label>
						<div class="col-sm-10">
							<input type="password" placeholder="Ulangi Password Baru" id="inputEmail3" class="form-control" ng-model="password.repeatedNewPassword">
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Simpan</button>
				</form>
			</div>
		</div>
	</div>

</div>

<!-- end: YOUR CONTENT HERE -->