<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">{{ mainTitle }}</h1>
			<span class="mainDescription">overview &amp; stats </span>
		</div>
		<div class="col-sm-5">
			<!-- start: MINI STATS WITH SPARKLINE -->
			<ul class="mini-stats pull-right" ng-controller="SparklineCtrl">
				<li>
					<div class="sparkline">
						<span jq-sparkline ng-model="totalMonthlyOrder" type="bar" height="20px" bar-color="#D43F3A"></span>
					</div>
					<div class="values">
						<strong class="text-dark">{{ totalOrder }}</strong>
						<p class="text-small no-margin">
							Sales Order
						</p>
					</div>
				</li>
				<li>
					<div class="sparkline">
						<span jq-sparkline ng-model="totalMonthlyDelivery" type="bar" height="20px" bar-color="#5CB85C"></span>
					</div>
					<div class="values">
						<strong class="text-dark">{{ totalDelivery }}</strong>
						<p class="text-small no-margin">
							Pengiriman
						</p>
					</div>
				</li>
				<li>
					<div class="sparkline">
						<span jq-sparkline ng-model="deliveryRequestsAccuracy" type="bar" height="20px" bar-color="#46B8DA"></span>
					</div>
					<div class="values">
						<strong class="text-dark">{{ totalDeliveryRequest | number:0 }}&#37;</strong>
						<p class="text-small no-margin">
							On Time Delivery
						</p>
					</div>
				</li>
			</ul>
			<!-- end: MINI STATS WITH SPARKLINE -->
		</div>
	</div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-7 col-lg-7">
					<div class="panel panel-white no-radius" id="visits">
						<div class="panel-heading border-light">
							<h4 class="panel-title"> Statistik </h4>
							<ul class="panel-heading-tabs border-light">
								<li class="panel-tools">
									<ct-paneltool tool-refresh="load1"></ct-paneltool>
								</li>
							</ul>
						</div>
						<div collapse="visits" ng-init="visits=false" class="panel-wrapper">
							<div class="panel-body">
								<div ng-controller="VisitsCtrl" class="height-200">
									<canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
									<div class="margin-top-20">
										<div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-5">
					<div class="panel panel-white no-radius">
						<div class="panel-heading border-light">
							<h4 class="panel-title"> Total Purchase Order/Service Order dalam Rupiah </h4>
						</div>
						<div class="panel-body" ng-controller="SalesCtrl">
							<canvas class="tc-chart" tc-chartjs-bar chart-options="options" chart-data="data" chart-legend="chart2"></canvas>
							<div tc-chartjs-legend chart-legend="chart2" class="inline pull-left legend-xs"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-lg-7">
					<div class="panel panel-white no-radius" id="visits">
						<div class="panel-heading border-light">
							<h4 class="panel-title"> Penjualan Berdasarkan Barang (10 minggu terakhir) dalam % </h4>
							<ul class="panel-heading-tabs border-light">
								<li class="panel-tools">
									<ct-paneltool tool-refresh="load1"></ct-paneltool>
								</li>
							</ul>
						</div>
						<div collapse="visits" ng-init="visits=false" class="panel-wrapper" >
							<div class="panel-body" ng-controller="StockSalesCtrl">
								<div google-chart chart="chartObject" style="height:250px; width:100%;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-5">
					<div class="panel panel-white no-radius">
						<div class="panel-heading border-light">
							<h4 class="panel-title">  </h4>
						</div>
						<div class="panel-body text-right" ng-controller="NotCompletedCtrl">
							Jumlah Purchase Request belum disetujui <h3 class="inline-block no-margin"><a ui-sref="app.purchase.approve_purchase_request">{{notApprovedPurchaseItem}}</a></h3>
							<br/><br/>
							Jumlah Service Request belum disetujui <h3 class="inline-block no-margin"><a ui-sref="app.purchase.approve_purchase_request">{{notApprovedPurchaseService}}</a></h3>
							<br/><br/>
							Jumlah Sales Order belum Goods Issue <h3 class="inline-block no-margin"><a ui-sref="app.order.active_order">{{notCompletedPurchase}}</a></h3>
							<br/><br/>
							Jumlah Purchase Order belum Goods Received <h3 class="inline-block no-margin"><a ui-sref="app.purchase.purchase_order_active">{{notCompletedOrder}}</a></h3>
							<br/><br/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="panel panel-white no-radius" id="visits">
						<div class="panel-heading border-light">
							<h4 class="panel-title"> Nilai Stok Barang/Jasa per Hari Ini dalam Rupiah </h4>
							<ul class="panel-heading-tabs border-light">
								<li class="panel-tools">
									<ct-paneltool tool-refresh="load1"></ct-paneltool>
								</li>
							</ul>
						</div>
						<div collapse="visits" ng-init="visits=false" class="panel-wrapper" >
							<div class="panel-body" ng-controller="StockTypeCtrl">
								<div google-chart chart="chartObject" style="height:250px; width:100%;"></div>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="col-md-6 col-lg-6">
					<div class="panel panel-white no-radius">
						<div class="panel-heading border-light">
							<h4 class="panel-title"> Tingkat Akurasi Stock (10 stock take terakhir) dalam % </h4>
						</div>
						<div class="panel-body">
							<div ng-controller="VisitsCtrl" class="height-200">
								<canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
								<div class="margin-top-20">
									<div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>
<!-- end: FIRST SECTION -->