<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15" >
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">Tidak Memiliki Hak Akses</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->

<div ng-controller="NoAccessController">  

	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<p>Maaf anda tidak memiliki hak untuk mengakses halaman ini.</p>
			</div>
		</div>
	</div>

</div>

<!-- end: YOUR CONTENT HERE -->
