<div ng-controller="OrderDetailController">
<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15" >
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">Order {{ order.order_detail.order_reference }}  PO {{ order.order_detail.customer_po }}</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-lg-6">
			<form class="form-inline">
				<button class="btn btn-alt btn-hover btn-primary" ng-click="displayOrderNotes(order.order_detail)">
					<span>Order Notes</span>
				</button>
			</form>
			<br/>
		</div>
		<div class="col-lg-6">
			<div class="form-group pull-right">
				<div class="btn-group disabled">
					<label class="btn btn-primary ng-untouched ng-valid ng-dirty" ng-model="order.order_type" ng-class="{'btn-o disabled': order.order_type !== 'B' }"  btn-radio="'B'" >
						<i class="ti-package"></i><br><span>Biasa</span>
					</label>
					<label class="btn btn-primary btn-o ng-untouched ng-valid ng-dirty" ng-model="order.order_type" ng-class="{'btn-o disabled': order.order_type !== 'K' }"  btn-radio="'K'">
						<i class="ti-package"></i><br><span> Konsinyasi</span>
					</label>
					<label class="btn btn-primary btn-o ng-untouched ng-valid ng-dirty" ng-model="order.order_type" ng-class="{'btn-o disabled': order.order_type !== 'sample' }"  btn-radio="'sample'" >
						<i class="ti-package"></i><br><span> Sample</span>
					</label>
					<label class="btn btn-primary btn-o ng-untouched ng-valid ng-dirty" ng-model="order.order_type" ng-class="{'btn-o disabled': order.order_type !== 'urgent' }"  btn-radio="'urgent'" >
						<i class="ti-package"></i><br><span> Urgent</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white" id="pnlCustomerDetail">
				<div class="panel-heading border-light">
					<h4 class="panel-title text-primary">Detail Customer</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
				</div>
				<div collapse="pnlCustomerDetail" ng-init="pnlCustomerDetail=false" class="panel-wrapper">
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtCustomerName" class="col-sm-2 control-label">Nama Customer</label>
										<div class="col-sm-10">
											<input type="text" class="form-control underline" id="txtCustomerName" ng-model="order.customer_detail.customer_name" readonly/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPICName" class="col-sm-4 control-label">Nama PIC</label>
										<div class="col-sm-8">
											<input type="text" class="form-control underline" id="txtPICName" ng-model="order.customer_detail.pic_name" readonly/>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtAddress" class="col-sm-2 control-label">Alamat</label>
										<div class="col-sm-10">
											<input type="text" class="form-control underline" id="txtAddress" ng-model="order.customer_detail.address" readonly/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPhoneNumber" class="col-sm-4 control-label">No. Tel</label>
										<div class="col-sm-8">
											<input type="text" class="form-control underline" id="txtPhoneNumber" ng-model="order.customer_detail.phone_number" readonly/>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtCustomerName" class="col-sm-2 control-label">Kota</label>
										<div class="col-sm-10">
											<input type="text" class="form-control underline" id="txtCity" ng-model="order.customer_detail.city" readonly/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPICName" class="col-sm-4 control-label">Kode Pos</label>
										<div class="col-sm-8">
											<input type="text" class="form-control underline" id="txtPostcode" ng-model="order.customer_detail.postcode" readonly/>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtCustomerName" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="email" class="form-control underline" id="txtEmail" ng-model="order.customer_detail.customer_email" readonly/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPICName" class="col-sm-4 control-label">No. Fax</label>
										<div class="col-sm-8">
											<input type="text" class="form-control underline" id="txtFaxNumber" ng-model="order.customer_detail.fax_number" readonly/>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white" id="pnlItems">
				<div class="panel-heading border-light">
					<h4 class="panel-title text-primary">Detail Sales</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
				</div>
				<div collapse="pnlItems" ng-init="pnlItems=false" class="panel-wrapper">
					<div class="panel-body">
						<tabset class="tabbable">
							<tab heading="Umum">
								<div ng-if="order.order_type == 'B'">
									<div class="table-responsive">
										<table class="table" ng-show="!HLPFIELD_items_is_edit_mode">
											<thead>
												<tr>
													<th>ArticleID (SKU)</th>
													<th class="col-md-1" ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
														{{attrib.attribute_name}}
													</th>
													<th>Jumlah Order</th>
													<th>Unit</th>
													<th>Nama Barang</th>
													<th>@Harga</th>
													<th>Disc %</th>
													<th>Disc (IDR)</th>
													<th>Subtotal</th>
													<th>Remark</th>
												</tr>
											</thead>
											<tbody ng:repeat="item in order.order_detail.order_items">
												<tr>
													<td>{{ item.item_code }}</td>
													<td ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
														{{item.attributes[attrib.attribute_name]}}
													</td>
													<td>{{ item.quantity || 0 | number:0 }}</td>
													<td>{{ item.item_unit }}</td>
													<td>{{ item.item_name }}</td>
													<td>{{ item.cost || 0 | number:2 }}</td>
													<td>{{ item.disc_percent }}</td>
													<td>{{ item.disc_value || 0 | number:2 }}</td>
													<td>{{(item.quantity*item.cost)-(item.quantity*item.cost*item.disc_percent/100)-(item.disc_value) || 0 | number:2}}</td>
													<td>{{ item.remark }}</td>
												</tr>
											</tbody>
											<tr>
												<td colspan="{{ 7 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">Total</td>
												<td colspan="3">{{ totalWithoutDisc() || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 7 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">Discount</td>
												<td colspan="3">{{ totalDiscPercent() || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 7 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">Tambahan Discount</td>
												<td colspan="3">{{ totalDiscValue() || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 7 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">DPP</td>
												<td colspan="3">{{ 0 || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 7 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">PPN</td>
												<td colspan="3">{{ 0 || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 7 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">Grand Total</td>
												<td colspan="3" style="border-top: 1px #CCC solid;border-bottom:none">{{ totalGrand() || 0 | number:2 }}</td>
											</tr>
										</table>
									</div>
								</div>
								
								<div ng-if="order.order_type == 'K'">
									<div class="table-responsive">
										<table class="table" ng-show="!HLPFIELD_items_is_edit_mode">
											<thead>
												<tr>
													<th>ArticleID (SKU)</th>
													<th class="col-md-1" ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
														{{attrib.attribute_name}}
													</th>
													<th>Jumlah Order</th>
													<th>Unit</th>
													<th>Nama Barang</th>
													<th>@Harga</th>
													<th>Disc %</th>
													<th>Subtotal</th>
													<th>Remark</th>
												</tr>
											</thead>
											<tbody ng:repeat="item in order.order_detail.order_items">
												<tr>
													<td>{{ item.item_code }}</td>
													<td ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
														{{item.attributes[attrib.attribute_name]}}
													</td>
													<td>{{ item.quantity || 0 | number:0 }}</td>
													<td>{{ item.item_unit }}</td>
													<td>{{ item.item_name }}</td>
													<td>{{ item.cost || 0 | number:2 }}</td>
													<td>{{ item.disc_percent }}</td>
													<td>{{(item.quantity*item.cost)-(item.quantity*item.cost*item.disc_percent/100) || 0 | number:2}}</td>
													<td>{{ item.remark }}</td>
												</tr>
											</tbody>
											<tr>
												<td colspan="{{ 6 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">Total</td>
												<td colspan="3">{{ totalWithoutDisc() || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 6 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">Discount</td>
												<td colspan="3">{{ totalDiscPercent() || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 6 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">DPP</td>
												<td colspan="3">{{ 0 || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 6 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">PPN</td>
												<td colspan="3">{{ 0 || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td colspan="{{ 6 + attributeActiveList.length}}" style="text-align: right;border-bottom:none">Grand Total</td>
												<td colspan="3" style="border-top: 1px #CCC solid;border-bottom:none">{{ total() || 0 | number:2 }}</td>
											</tr>
										</table>
									</div>
								</div>
							</tab>
							
							<tab heading="Pembayaran">
								<div class="row">
									<div class="col-md-8">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Referral (optimal)" ng-model="order.referral">
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
											</span>
										</div>
										<br>
										<div class="btn-group" ng-if="order.order_type == 'K'">
											<label class="btn btn-primary ng-untouched ng-valid ng-dirty" ng-class="{'btn-o': order.payment_type !== 'konsinyasi' }" ng-model="order.payment_type" btn-radio="'konsinyasi'" ng-click="tabs[5].active = true">
												<i class="ti-package"></i><br><span> KONSINYASI</span>
											</label>
										</div>
										<div class="btn-group" ng-if="order.order_type == 'B'">
											<label class="btn btn-primary ng-untouched ng-valid ng-dirty" ng-class="{'btn-o': order.payment_type !== 'cash' }" ng-model="order.payment_type" btn-radio="'cash'"  ng-click="tabs[0].active = true">
												<i class="ti-package"></i><br><span> CASH</span>
											</label>
											<label class="btn btn-primary ng-untouched ng-valid ng-dirty" ng-class="{'btn-o': order.payment_type !== 'transfer'}" ng-model="order.payment_type" btn-radio="'transfer'"  ng-click="tabs[1].active = true">
												<i class="ti-package"></i><br><span> TRANSFER</span>
											</label>
											<label class="btn btn-primary ng-untouched ng-valid ng-dirty" ng-class="{'btn-o': order.payment_type !== 'debit'}" ng-model="order.payment_type" btn-radio="'debit'"  ng-click="tabs[2].active = true">
												<i class="ti-package"></i><br><span> DEBIT CARD</span>
											</label>
											<label class="btn btn-primary ng-untouched ng-valid ng-dirty" ng-class="{'btn-o': order.payment_type !== 'credit'}" ng-model="order.payment_type" btn-radio="'credit'"  ng-click="tabs[3].active = true">
												<i class="ti-package"></i><br><span> CREDIT CARD</span>
											</label>
											<label class="btn btn-primary ng-untouched ng-valid ng-dirty" ng-class="{'btn-o': order.payment_type !== 'term'}" ng-model="order.payment_type" btn-radio="'term'"  ng-click="tabs[4].active = true">
												<i class="ti-package"></i><br><span> TERM</span>
											</label>
										</div>
									</div>
									<div class="col-md-4">
										<table class="table pull-right">
											<tr>
												<td>Total Harga</td>
												<td>{{ totalWithoutDisc() || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td>Discount</td>
												<td>{{ totalDisc() || 0 | number:2 }}</td>
											</tr>
											<tr>
												<td>DPP</td>
												<td>0.00</td>
											</tr>
											<tr>
												<td>PPN</td>
												<td>0.00</td>
											</tr>
											<tr>
												<td style="border-top: 1px #CCC solid">
													Grand Total
												</td>
												<td style="border-top: 1px #CCC solid">
													{{ totalGrand() || 0 | number:2 }}
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<tabset class="tabbable">
											Pembayaran {{order.payment_type}}
											<tab ng-repeat="tab in tabs" class="hide" active="tab.active">
												<tab-heading class="hide"></tab-heading>
												<div ng-include src="tab.content"></div>
											</tab>
										</tabset>
									</div>
								</div>
							</tab>
							
							<tab heading="Pengiriman">
								<div class="radio clip-radio radio-primary radio-inline">
									<div class="col-sm-12">
										<span>Tipe pengiriman</span> 
										<input type="radio" id="sendiri" name="inline" ng-model="order.order_detail.delivery_type" value="A" disabled>
										<label for="sendiri">Ambil Sendiri</label>
										<input type="radio" id="antar" name="inline" ng-model="order.order_detail.delivery_type" value="D" disabled>
										<label for="antar">Diantar</label>
									</div>
								</div>
								<br>
								<!--@#JWBOOKMARK 2-->
								<div ng-show="order.order_detail.delivery_type == 'D'">
									<div class="panel panel-white" id="panel1" ng:repeat="delivery in order.delivery_request_details">
										<div class="panel-heading">
											<h4 class="panel-title text-primary">Rencana Pengiriman {{ $index + 1}}</h4>
											<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
										</div>
										<div collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-7">
														<form class="form-horizontal">
															<div class="form-group">
																<label for="txtDeliveryDate{{ $index + 1 }}" class="col-sm-3 control-label">Tanggal Pengiriman</label>
																<div class="col-sm-9">
																	<input type="date" id="txtDeliveryDate{{ $index + 1 }}" name="input" ng-model="delivery.requested_delivery_date" placeholder="yyyy-MM-dd" min="{{ getCurrentDateString(); }}" ng-readonly="!delivery.HLPFIELD_is_edit_mode" required />
																</div>
															</div>
														</form>
													</div>
													<div class="col-md-5">
														<form class="form-horizontal">
															<div class="form-group">
																<label for="txtDeliveryDate{{ $index + 1 }}" class="col-sm-2 control-label">Pengantar</label>
																<div class="col-sm-10">
																	<input type="text" ng-readonly="!delivery.HLPFIELD_is_edit_mode" required/>
																</div>
															</div>
															
															<div class="form-group">
																<label for="txtCustomerName" class="col-sm-2 control-label">Keterangan </label>
																<div class="col-sm-10">
																	<textarea class="form-control autosize msd-elastic: \n;" ng-model="delivery.requested_delivery_address" ng-readonly="!delivery.HLPFIELD_is_edit_mode"></textarea>
																</div>
															</div>
														</form>
													</div>
												</div>
												
												<!-- TABLE if edit mode -->
												<div class="table-responsive">
													<table class="table table-bordered" ng-show="delivery.HLPFIELD_is_edit_mode">
														<thead>
															<tr>
																<th>ArticleID (SKU)</th>
																<th ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
																	{{attrib.attribute_name}}
																</th>
																<th>Jumlah Order</th>
																<th>Jumlah Belum Direncanakan</th>
																<th>Jumlah Permohonan Pengiriman</th>
																<th>Unit</th>
																<th>Nama Barang</th>
																<th>Remark</th>
															</tr>
														</thead>
														<tbody>
															<tr ng:repeat="item in delivery.delivery_request_items">
																<td>{{ item.item_code }}</td>
																<td ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
																	{{item.attributes[attrib.attribute_name]}}
																</td>
																<td>{{ item.main_quantity || 0 | number:0 }}</td>
																<td>{{ item.remains || 0 | number:0 }}</td>
																<td><input type="text" class="form-control" id="" placeholder="0" ng-model="item.quantity" /></td>
																<td>{{ item.item_unit }}</td>   
																<td>{{ item.item_name }}</td>
																<td>{{ item.remark }}</td>
															</tr>
														</tbody>
													</table>
												</div>
												
												<!-- TABLE NOT EDITABLE -->
												<div class="table-responsive">
													<table class="table table-bordered" ng-show="!delivery.HLPFIELD_is_edit_mode">
														<thead>
															<tr>
																<th>ArticleID (SKU)</th>
																<th ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
																	{{attrib.attribute_name}}
																</th>
																<th>Jumlah Order</th>
																<th>Jumlah Belum Direncanakan</th>
																<th>Jumlah Permohonan Pengiriman</th>
																<th>Unit</th>
																<th>Nama Barang</th>
																<th>Remark</th>
															</tr>
														</thead>
														<tbody>
															<tr ng:repeat="item in delivery.delivery_request_items | filter: filterNullAndZero(item)">
																<td>{{ item.item_code }}</td>
																<td ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
																	{{item.attributes[attrib.attribute_name]}}
																</td>
																<td>{{ item.main_quantity || 0 | number:0 }}</td>
																<td>{{ item.remains || 0 | number:0 }}</td>
																<td>{{ item.quantity || 0 | number:0 }}</td>
																<td>{{ item.item_unit }}</td>
																<td>{{ item.item_name; }}</td>
																<td>{{ item.remark }}</td>
															</tr>
														</tbody>
													</table>
												</div>
												
												<div ng-show="delivery.HLPFIELD_is_edit_mode">
													<button class="btn btn-alt btn-hover btn-primary" ng-click="confirmDeliveryRequest(delivery)">
														<span>OK</span>
														<i class="glyph-icon icon-plus"></i>
													</button>
													<button class="btn btn-alt btn-hover btn-danger" ng-click="removeDeliveryRequest(delivery)">
														<span>HAPUS</span>
														<i class="glyph-icon icon-plus"></i>
													</button>
												</div>
												
												<div ng-show="!delivery.HLPFIELD_is_edit_mode">
													<button class="btn btn-alt btn-hover btn-primary" ng-click="delivery.HLPFIELD_is_edit_mode=true" ng-disabled="isAnyInEditMode()">
														<span>EDIT</span>
														<i class="glyph-icon icon-plus"></i>
													</button>
													
													<button class="btn btn-alt btn-hover btn-danger" ng-click="removeDeliveryRequest(delivery)" ng-disabled="isAnyInEditMode()">
														<span>HAPUS</span>
														<i class="glyph-icon icon-plus"></i>
													</button>
												</div>
											</div>
										</div>
									</div>

									<button class="btn btn-alt btn-hover btn-primary" ng-click="addDeliveryRequest()" ng-disabled="isAnyInEditMode()">
										<span><i class="ti-plus"></i> Tambah Rencana Pengiriman</span>
									</button>
								</div>
							</tab>
						</tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white" id="pnlItems">
				<div class="panel-heading border-light">
					<h4 class="panel-title text-primary">Detail Tindakan/Status</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
				</div>
				<div collapse="pnlItems" ng-init="pnlItems=false" class="panel-wrapper">
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="txtCity" class="col-sm-2 control-label">Penyerahan Sales Order</label>
								<div class="col-sm-3">
									<input type="date" class="form-control" id="txtOrderCreatedDate" name="input" ng-model="order.order_detail.date_created" placeholder="yyyy-MM-dd" required disabled />
								</div>
							</div>
							<div class="form-group">
								<label for="txtPostcode" class="col-sm-2 control-label">Mulai Proses Pengadaan</label>
								<div class="col-sm-3">
									<input type="date" class="form-control" id="txtProductionStartDate" name="input" ng-model="order.order_detail.production_start_date" placeholder="dd-MM-yyyy" max="{{ getCurrentDateString(); }}" />
								</div>
								<button class="btn btn-o btn-light-azure" ng-click="order.order_detail.production_start_date=setToCurrentDate();">Hari Ini</button>
							</div>
							<div class="form-group">
								<label for="txtFaxNumber" class="col-sm-2 control-label">Proses Pengadaan Selesai/Barang Tersedia</label>
								<div class="col-sm-3">
									<input type="date" class="form-control" id="txtProductionComletedDate" name="input" ng-model="order.order_detail.production_completed_date" placeholder="yyyy-MM-dd" max="{{ getCurrentDateString(); }}" />
								</div>
								<button class="btn btn-o btn-light-azure" ng-click="order.order_detail.production_completed_date=setToCurrentDate();">Hari Ini</button>
							</div>
						</form>
						<button class="btn btn-alt btn-hover btn-primary" ng-click="updateOrder()" ladda="updateButtonLoading">
							<span>Update</span>
							<i class="glyph-icon icon-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" >
		<div class="col-md-12">
			<div class="panel panel-white" id="pnlItems">
				<div class="panel-heading border-light">
					<h4 class="panel-title text-primary">Detail Good Issue</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
				</div>
				<div collapse="pnlItems" ng-init="pnlItems=false" class="panel-wrapper">
					<div class="panel-body">
						<div ng-if="order.order_detail.delivery_type == 'A' && order.order_detail.status == 'R'">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="txtCity" class="col-sm-3 control-label">Good Issue ( GI Date )</label>
									<div class="col-sm-3">
										<input type="date" class="form-control" id="txtOrderCreatedDate" name="input" 
											 ng-model="goodIssue.good_issue_date" placeholder="yyyy-MM-dd"  ng-disabled="order.order_detail.good_issue_status == 'A'" />
									</div>
									<button class="btn btn-o btn-light-azure" ng-if="order.order_detail.good_issue_status != 'A'" ng-click="goodIssue.good_issue_date=setToCurrentDate();">Hari Ini</button>
									<div class="col-sm-3 checkbox clip-check check-primary pull-right">
										<input type="checkbox" id="checkbox1" value="1" ng-model="goodIssue.confirmGoodsIssue" ng-disabled="order.order_detail.good_issue_status == 'A'">
										<label for="checkbox1">
											Konfirmasi Goods Issue
										</label>
									</div>
								</div>
							</form>
							
							<table class="table">
								<thead>
									<tr>
										<th class="col-md-2">ArticleID (SKU)</th>
										<th class="col-md-1" ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
											{{attrib.attribute_name}}
										</th>
										<th class="col-md-1">Jumlah Order</th>
										<th class="col-md-1">Unit</th>
										<th>Nama Barang</th>
										<th class="col-md-2">Actual</th>
										<th class="col-md-1">Unit</th>
										<th class="col-md-2">PieceID/SiteID/StorageID/Bin</th>
										<th></th>
									</tr>
								</thead>
								<tbody ng:repeat="item in goodIssue.items" ng-if="item.status == 'A'" ng-init="itemIndex = $index" >
									<tr>
										<td>
											<select class="form-control" ng-model="item.selected" ng-options="i as i.item_code for i in order.order_detail.order_items" ng-change="setAttributesGoodIssue($index, item.selected)" ng-disabled="order.order_detail.good_issue_status == 'A'" ></select>
										</td>
										<td ng-repeat="attrib in attributeList" ng-if="attrib.status !== 'X'">
											{{ item.attributes[attrib.attribute_name] }}
										</td>
										<td>
											{{ item.requested_quantity || 0 | number:0}}
										</td>
										<td>{{ lookupItemUnit(item.item_code) }}</td>
										<td>{{ lookupItemName(item.item_code) }}</td>
										<td><input type="number" class="form-control" placeholder="0" ng-model="item.quantity" min="0" ng-disabled="order.order_detail.good_issue_status == 'A'" /></td>
										<td>
											<select ng-model="item.item_unit" ng-options="uom.alternative_uom as uom.alternative_uom for uom in item.uom_list" required></select>
										</td>
										<td>
											<div class="input-group">
												<input type="text" class="form-control" ng-model="item.location" ng-click="displayLocationModal(item)" ng-disabled="order.order_detail.good_issue_status == 'A'" >
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary" ng-click="displayLocationModal(item)" ng-disabled="order.order_detail.good_issue_status == 'A'" ><i class="fa fa-search"></i>
													</button>
												</span>
											</div>
										</td>
										<td ng-if="!goodIssue.good_issue" >
											<a ng-hide="goodIssue.items.length <= 1" ng-click="removeGoodIssueItem(item)" class="text-danger">
												<i class="fa fa-times"></i>
											</a>
											<a ng-show="goodIssue.items.length <= 1" ng-click="">
												<span>&nbsp;</span>
											</a>
										</td>
									</tr>
								</tbody>
								<tr>
									<td colspan="3" style="border-bottom: none">
										<div>
											<button class="btn btn-alt btn-hover btn-primary"ng-click="addGoodIssueItem()" ng-if="order.order_detail.good_issue_status != 'A'" >
												<i class="ti-plus"></i> <span> Tambah</span>
											</button>
										</div>
									</td>
								</tr>
							</table>
							
							<div class="row">
								<div class="col-md-2">
									<form class="form-horizontal">
										<div class="form-group">
											<label for="txtCity" class="col-sm-3 control-label">Remarks</label>
										</div>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<textarea class="col-sm-12" rows="5" ng-model="goodIssue.good_issue_remark" ng-disabled="order.order_detail.good_issue_status == 'A'" ></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<br>
									<button class="btn btn-alt btn-hover btn-primary" ng-click="updateGoodIssue()" ladda="updateButtonLoading" ng-if="order.order_detail.good_issue_status != 'A'" >
										<span>Simpan</span>
										<i class="glyph-icon icon-plus"></i>
									</button>
								</div>
							</div>
						</div>
						<div ng-if="order.order_detail.delivery_type == 'D' && order.order_detail.status == 'R'">
							<p>Sales order ini membutuhkan pengiriman. Mohon untuk melanjutkan ke modul pengiriman untuk mengatur detail pengiriman dan melakukan Good Issue ( GI ).</p>
							<button ng-click="saveDelivery()" class="btn btn-primary"  ladda="createDeliveryButtonLoading">Buka modul pengiriman</button>
						</div>
						<div ng-if="order.order_detail.status != 'R'">
							<p>Good Issue belum bisa dilakukan sebelum proses pengadaan selesai</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--
		<button class="btn btn-alt btn-hover btn-purple" ng-click="printOrder()">
        <span>Print Order</span>
        <i class="glyph-icon icon-plus"></i>
    </button>
    -->
	
	<button class="btn btn-alt btn-hover btn-dark-beige" ng-click="displayOrderHistory()">
		<span>Order History</span>
		<i class="glyph-icon icon-plus"></i>
	</button>
	
	<button class="btn btn-alt btn-hover btn-dark-orange" ng-click="displayForceCloseOrder()">
		<span>Tutup Paksa Order</span>
		<i class="glyph-icon icon-plus"></i>
	</button>
	
	<button class="btn btn-alt btn-hover btn-purple" ng-click="printOrderNotes(order)">
		<span>Print Order</span>
		<i class="glyph-icon icon-plus"></i>
	</button>
	
	<script type="text/ng-template" id="modal_content_order_history.html">
		<div class="modal-header">
			<h3 class="modal-title">Order update history untuk order {{ order_reference }}</h3>
		</div>
		<div class="modal-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Username</th>
							<th>Waktu Update</th>
							<th>Deskripsi</th>
							<th>Data Lama</th>
							<th>Data Baru</th>
						</tr>
					</thead>
					<tbody>
						<tr ng:repeat="update_history in order_update_history">
							<td>{{ update_history.username }}</td>
							<td>{{ update_history.update_timestamp }}</td>
							<td>{{ update_history.update_description }}</td>
							<td>{{ update_history.old }}</td>
							<td>{{ update_history.new }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="btn btn-primary" ng-click="closeModal()">Tutup</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="modal_content_force_close_order.html">
		<div class="modal-header">
			<h3 class="modal-title">Tutup Paksa Order {{ order.order_reference }}</h3>
		</div>
		<div class="modal-body bg-white">
			<form class="form-horizontal">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="txtAddress" class="col-sm-1 control-label">Alasan</label>
							<div class="col-sm-11">
								<textarea class="form-control" rows="3" ng-model="order.force_close_reason"></textarea>
							</div>
						</div>
					</div>
				</div>
			</form>
			<button class="btn btn-primary" ng-click="doForceCloseOrder()">Tutup Paksa Order</button>
			<button class="btn btn-danger" ng-click="closeModal()">Batal</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="modal_order_notes">
		<div class="modal-header">
			<h3 class="modal-title">Order Notes {{ order.order_reference }}</h3>
		</div>
		<div class="modal-body bg-white">
			<form class="form-horizontal">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="3" ng-model="order.order_notes"></textarea>
							</div>
						</div>
					</div>
				</div>
			</form>
			<button class="btn btn-primary" ng-click="saveOrderNotes(order)">Simpan Order Notes</button>
			<button class="btn btn-danger" ng-click="closeModal()">Batal</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="/cash.html">
		<div class="row">
			<div class="col-md-10">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Remark</label>
						<div class="col-sm-10">
							<textarea class="col-sm-12" ng-model="order.payment_detail.remark"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<form role="form" class="form-horizontal">
					<button class="btn btn-primary" type="submit" ng-click="payOrder()">Bayar</button>
					<button class="btn btn-primary" ng-click="displayPaymentReceiptModal()">PAID</button>
					<br><br>
					<button class="btn btn-primary" type="submit" ng-click="saveCart()">Simpan Draft</button>
				</form>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="/transfer.html">
		<div class="row">
			<div class="col-md-10">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Bank</label>
						<div class="col-sm-10">
							<select ng-model="order.payment_detail.bank_code" class="cs-skin-slide" ng-options="o.bank_code as +' ( '+ o.bank_code +' ) '+ o.bank_name for o in bankList"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Date</label>
						<div class="col-sm-10">
							<input type="date" class="col-sm-12" ng-model="order.payment_detail.transfer_date">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Remark</label>
						<div class="col-sm-10">
							<textarea class="col-sm-12" ng-model="order.payment_detail.remark"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<form role="form" class="form-horizontal">
					<button class="btn btn-primary" type="submit" ng-click="payOrder()">Bayar</button>
					<button class="btn btn-primary" ng-click="displayPaymentReceiptModal()">PAID</button>
					<br><br>
					<button class="btn btn-primary" type="submit" ng-click="saveCart()">Simpan Draft</button>
				</form>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="/debit.html">
		<div class="row">
			<div class="col-md-10">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Bank</label>
						<div class="col-sm-10">
							<select ng-model="order.payment_detail.bank_code" class="cs-skin-slide" ng-options="o.bank_code as +' ( '+ o.bank_code +' ) '+ o.bank_name for o in bankList"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Card</label>
						<div class="col-sm-10">
							<input type="text" class="col-sm-12" maxlength="16" ng-model="order.payment_detail.card_number" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Remark</label>
						<div class="col-sm-10">
							<textarea class="col-sm-12" ng-model="order.payment_detail.remark"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<form role="form" class="form-horizontal">
					<button class="btn btn-primary" type="submit" ng-click="payOrder()">Bayar</button>
					<button class="btn btn-primary" ng-click="displayPaymentReceiptModal()">PAID</button>
					<br><br>
					<button class="btn btn-primary" type="submit" ng-click="saveCart()">Simpan Draft</button>
				</form>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="/credit.html">
		<div class="row">
			<div class="col-md-10">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Bank</label>
						<div class="col-sm-10">
							<select ng-model="order.payment_detail.bank_code" class="cs-skin-slide" ng-options="o.bank_code as +' ( '+ o.bank_code +' ) '+ o.bank_name for o in bankList"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Card</label>
						<div class="col-sm-10">
							<input type="text" class="col-sm-12" maxlength="16" ng-model="order.payment_detail.card_number" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Remark</label>
						<div class="col-sm-10">
							<textarea class="col-sm-12" ng-model="order.payment_detail.remark"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<form role="form" class="form-horizontal">
					<button class="btn btn-primary" type="submit" ng-click="payOrder()">Bayar</button>
					<button class="btn btn-primary" ng-click="displayPaymentReceiptModal()">PAID</button>
					<br><br>
					<button class="btn btn-primary" type="submit" ng-click="saveCart()">Simpan Draft</button>
				</form>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="/term.html">
		<div class="row">
			<div class="col-md-10">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Term</label>
						<div class="col-sm-10">30 days</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Remark</label>
						<div class="col-sm-10">
							<textarea class="col-sm-12" ng-model="order.payment_detail.remark"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-2">
				<form role="form" class="form-horizontal">
					<button class="btn btn-primary" type="submit" ng-click="payOrder()">Bayar</button>
					<button class="btn btn-primary" ng-click="displayPaymentReceiptModal()">PAID</button>
					<br><br>
					<button class="btn btn-primary" type="submit" ng-click="saveCart()">Simpan Draft</button>
				</form>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="/konsinyasi.html">
		<div class="row">
			<div class="col-md-9">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Remark</label>
						<div class="col-sm-10">
							<textarea class="col-sm-12" ng-model="order.payment_detail.remark"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-3">
				<form role="form" class="form-horizontal">
					<button class="btn btn-primary" ng-click="displayPaymentReceiptModal()">Cetak Form Konsinyasi</button>
					<br><br>
					<button class="btn btn-primary" type="submit" ng-click="saveCart()">Simpan Draft</button>
				</form>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="modal_location">
		<div class="modal-header">
			<h3 class="modal-title">Lokasi</h3>
		</div>
		<div class="modal-body bg-white">
			<p>Lakukan proses pengambilan barang dari lokasi yang telah ditentukan dibawah untuk proses Good Issue (GI)</p>
			<table class="table table-responsive" ng-hide="true">
				<thead>
					<tr>
						<th>PieceID</th>
						<th>SiteID</th>
						<th>Storage Location</th>
						<th>Bin</th>
						<th>QTY Tersedia</th>
						<th>Tanggal GR</th>
						<th>QTY Ambil</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="inven in inventory">
						<td>{{getBatchName(inven.batch_id)}}</td>
						<td>{{getSiteName(inven.site_id)}}</td>
						<td>{{getStorageName(inven.storage_id)}}</td>
						<td>{{getBinName(inven.bin_id)}}</td>
						<td>{{inven.quantity || 0 | number:0}}</td>
						<td>{{}}</td>
						<td>
							<input type="number">
						</td>
					</tr>
				</tbody>
			</table>
			<form role="form" class="form-horizontal" ng-submit="saveLocation(locations)">
				<div class="form-group">
					<label class="col-sm-1 control-label">Site</label>
					<div class="col-sm-11">
						<select class="form-control" ng-model="locations.site_id" ng-options="code.site_id as code.site_reference for code in siteList" ng-change="locations.bin_id = locations.site_id ? '': locations.bin_id"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">Lokasi</label>
					<div class="col-sm-11">
						<select class="form-control" ng-model="locations.storage_id" ng-disabled="!locations.site_id || deliveryRequests.status == 'C'" ng-options="code.storage_id as code.storage_name for code in storageList | filter:{ site_id : locations.site_id }" ></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">BIN</label>
					<div class="col-sm-11">
						<select class="form-control"  ng-model="locations.bin_id" ng-disabled="!locations.site_id || !locations.storage_id || deliveryRequests.status == 'C'" ng-options="code.bin_id as code.bin_name for code in binList | filter:{ storage_id : locations.storage_id }" ></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">PieceID</label>
					<div class="col-sm-11">
						<select class="form-control" ng-model="locations.piece_id" ng-options="code.batch_id as code.batch_reference for code in batchList | filter:{ item_code : locations.item_code }"></select>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Simpan</button>
				<button type="button" class="btn btn-danger" ng-click="closeModal()">Batal</button>
			</form>
		</div>
	</script>


	<script type="text/ng-template" id="modal_before_gi">
		<div class="modal-header">
			<h3 class="modal-title">Konfirmasi GI</h3>
		</div>
		<div class="modal-body bg-white">
			<p>Mohon konfirmasi untuk Good Issue</p>
			<table class="table table-responsive">
				<thead>
				<tr>
					<th>ArticleID (SKU)</th>
					<th>Jumlah Order</th>
					<th>Unit</th>
					<th>Nama Barang</th>
					<th>Actual</th>
					<th>Unit</th>
					<th>PieceID/SiteID/Storage Location/Bin</th>
					<th>VAR</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="i in items">
					<td>{{i.item_code}}</td>
					<td>{{i.requested_quantity}}</td>
					<td>{{i.requested_unit}}</td>
					<td>{{i.item_name}}</td>
					<td>{{i.aktual_quantity}}</td>
					<td>{{i.item_unit}}</td>
					<td>{{getBatchName(i.batch_id)}}/{{getSiteName(i.site_id)}}/{{getStorageName(i.storage_id)}}/{{getBinName(i.bin_id)}}</td>

					<td></td>
				</tr>
				</tbody>
			</table>
			<form role="form" class="form-horizontal" ng-submit="saveLocation(locations)">
				<div class="form-group">
					<label class="col-sm-1 control-label">PieceID</label>
					<div class="col-sm-11">
						Potong stock sesuai dengan aktual pengeluaran barang
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Lakukan Goods Issue</button>
				<button type="button" class="btn btn-danger" ng-click="closeModal()">Kembali</button>
			</form>
		</div>
	</script>


	<script type="text/ng-template" id="modal_payment_receipt">
		<div class="modal-header">
			<h3 class="modal-title">Cetak Kwitansi Pembayaran</h3>
		</div>
		<div class="modal-body bg-white">
			<p>Apakah anda mau mencetak kwitansi pembayaran</p>
			<table class="table table-responsive no-border">
				<tr>
					<td class="col-md-4" align="center">
						<button type="submit" class="btn btn-primary">Cetak</button>
					</td>
					<td class="col-md-4" align="center">
						<button type="submit" class="btn btn-primary">Download PDF</button>
					</td>
					<td class="col-md-4" align="center">
						<button type="submit" class="btn btn-danger" ng-click="closeModal()">Tidak Cetak</button>
					</td>
				</tr>
			</table>
		</div>
	</script>
</div><!-- End of Customer Row -->
</div>
<!-- end: YOUR CONTENT HERE -->
