<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15" >
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">Pengiriman Baru / Order Untuk Dikirim</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->

<div ng-controller="OrderToDeliverController">  

<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div ng-show="table_loading">Loading...</div>
			<div ng-show="!table_loading">
				<input type="text" class="form-control" id="txtSearchTable" ng-model="tableFilter.$" placeholder="Filter"/>
				<br/>
				<div class="table-responsive">
					<table class="table" ng-table="tableParams">
						<tr ng:repeat="order in $data | filter: tableFilter">
							<td data-title="'Status'" sortable="'status'">
								<span class="label {{ UTILgetStatusClass(order.status, 'ORDER'); }}">{{ UTILgetStatusLabel(order.status, 'ORDER'); }}</span>
							</td>
							<td data-title="'Order Reference'" sortable="'order_reference'">{{ order.order_reference }}</td>
							<td data-title="'Permintaan Pengiriman'" sortable="'requested_date_ORDERBY'">{{ order.requested_date }}</td>
							<td data-title="'Nama Customer'" sortable="'customer_name'">{{ order.customer_name }}</td>
							<td data-title="'Material Tersedia'" sortable="'production_completed_date_ORDERBY'">{{ order.production_completed_date }}</td>
							<td>
								<button data-title="'Pengiriman'" class="btn btn-primary" ui-sref="app.delivery.new_delivery({order_id: '{{ order.order_id }}'})">
									<span>Atur Pengiriman</span>
									<i class="glyph-icon icon-close"></i>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<!-- end: YOUR CONTENT HERE -->