<!-- start: PAGE TITLE -->
<div ng-controller="EditCreditBlockController">  
    
	<section id="page-title" class="padding-top-15 padding-bottom-15" >
		<div class="row">
			<div class="col-sm-7">
				<h1 class="mainTitle">Ubah Credit BLock</h1>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->

	<div class="container-fluid container-fullw">
        
        <!--
		<div class="row">
			<div class="col-lg-12">
				<form class="form-inline">
					
					<div class="form-group col-md-7">
						<label for="txtSearchCustomer"><h5>Cari Customer&nbsp;</h5></label>
						<div class="input-group">
							<input type="text" class="form-control" id="txtSearchCustomer" ng-model="customerIdToSearch" 
								typeahead="customerLU.customer_id as customerLU.customer_name + ' - ' + customerLU.pic_name for customerLU in customerLookupList | filter:$viewValue | limitTo:8"
								typeahead-input-formatter="formatSearchCustomerText($model)" disabled>
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary" ng-click="getCustomerById()">
										<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
						<a ng-click="getCustomerById()">Cari Customer</a>
					</div>
					
				</form>
			</div>
		</div>
		<br/>

        -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-white" id="pnlCustomerDetail">
					<div class="panel-heading border-light">
						<h4 class="panel-title text-primary">Detail Customer</h4>
						<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
					</div>
					<div collapse="pnlCustomerDetail" ng-init="pnlCustomerDetail=false" class="panel-wrapper">
							<div class="panel-body">
									<form class="form-horizontal">
											
											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label for="txtCustomerName" class="col-sm-2 control-label">Nama Customer</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" id="txtCustomerName" ng-model="customer_details.customer_name">
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="txtPICName" class="col-sm-4 control-label">Nama PIC</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="txtPICName" ng-model="customer_details.pic_name">
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label for="txtAddress" class="col-sm-2 control-label">Alamat</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" id="txtAddress" ng-model="customer_details.address">
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="txtPhoneNumber" class="col-sm-4 control-label">No. Tel</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="txtPhoneNumber" ng-model="customer_details.phone_number">
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label for="txtCustomerName" class="col-sm-2 control-label">Kota</label>
														<div class="col-sm-10">
															<input type="text" class="form-control" id="txtCity" ng-model="customer_details.city">
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="txtPICName" class="col-sm-4 control-label">Kode Pos</label>
														<div class="col-sm-8">
															<input type="text" class="form-control" id="txtPostcode" ng-model="customer_details.postcode">
														</div>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label for="txtCustomerName" class="col-sm-2 control-label">Email</label>
														<div class="col-sm-10">
															<input type="email" class="form-control" id="txtEmail" ng-model="customer_details.customer_email">
														</div>
													</div>
												</div>
												<div class="col-md-4">
												 <div class="form-group">
													 <label for="txtPICName" class="col-sm-4 control-label">No. Fax</label>
													 <div class="col-sm-8">
														 <input type="text" class="form-control" id="txtFaxNumber" ng-model="customer_details.fax_number">
													 </div>
												 </div>
												</div>
											</div>
											
									</form>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- tampilkan kalau is credit block 1 -->
				<div class="panel panel-white" id="pnlCustomerDetail" ng-show="customer_details.is_credit_blocked=='1'">
					<div class="panel-heading border-light">
						<h4 class="panel-title text-primary">Block Detail</h4>
						<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
					</div>
					<div collapse="pnlCustomerDetail" ng-init="pnlCustomerDetail=false" class="panel-wrapper">
						<div class="panel-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="txtCustomerName" class="col-sm-2 control-label">Credit Block Reason</label>
									<div class="col-sm-10">
										<textarea class="form-control autosize msd-elastic: \n;" ng-model="customer_details.credit_blocked_reason"></textarea>
									</div>
								</div>
							</form>
							<button class="btn btn-alt btn-hover btn-danger" ng-click="removeCreditBlock()">Hapus Credit Block</button>
						</div>
					</div>
				</div>
				<!-- tampilkan kalau is credit block 0 -->
				<div ng-show="buttonAddCreditBlock">
                    <button class="btn btn-alt btn-hover btn-primary" ng-click="buttonAddCreditBlock = false; panelAddCreditBlock = true">Buat Credit Block</button>
                </div>
				<div class="panel panel-white" id="pnlCustomerDetail" ng-show="panelAddCreditBlock">
					<div class="panel-heading border-light">
						<h4 class="panel-title text-primary">Buat Credit Block</h4>
						<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
					</div>
					<div collapse="pnlCustomerDetail" ng-init="pnlCustomerDetail=false" class="panel-wrapper">
						<div class="panel-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="txtCustomerName" class="col-sm-2 control-label">Credit Block Reason</label>
									<div class="col-sm-10">
										<textarea class="form-control autosize msd-elastic: \n;" ng-model="customer_details.credit_blocked_reason"></textarea>
									</div>
								</div>
							</form>
							<button class="btn btn-alt btn-hover btn-primary" ng-click="addCreditBlock()">Simpan</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- end: YOUR CONTENT HERE -->
