<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15" >
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">Stock Display</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->

<div ng-controller="StockDisplayListController">

	<div class="container-fluid container-fullw">
		<div class="row">
			<div class="form-group">
				<label for="text" class="col-sm-1 control-label">SiteID</label>
				<div class="col-sm-5">
					<select class="form-control" ng-model="search.site_id">
						<option value="0" selected>ALL</option>
						<option ng-repeat="site in siteList" value="{{site.site_id}}">{{site.site_name}}</option>
					</select>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-group">
				<label for="text" class="col-sm-1 control-label">Tag</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="tag_input"
						   typeahead="tag.tag_name as tag.tag_name for tag in tagList | filter:$viewValue | limitTo:20">
				</div>
				<div class="col-sm-2">
					<button class="btn btn-primary" ng-click="addItemTag(tag_input)" ng-disabled="!isTagAvaiable()">Tambah</button>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="form-group">
				<label for="text" class="col-sm-1 control-label"></label>
				<div class="col-sm-8">
					<span ng-repeat="tag in search.tag" class="ng-scope">
						<span style="margin-right: 3px;" class="ui-select-match-item btn btn-default btn-xs" type="button">
							<span class="close ui-select-match-close" ng-click="removeItemTag(tag)">&nbsp;x</span>
							<span uis-transclude-append="">
								<span class="ng-binding ng-scope">
										{{tag.tag_name}}
								</span>
							</span>
						</span>
					</span>
				</div>
				<div class="col-md-3">
					<button class="btn btn-primary" ng-click="applyFilter()">Apply Filter</button>
					<button class="btn btn-primary pull-right" ng-click="saveExpenses()">Export to CSV</button>
				</div>
			</div>
		</div>
		<br>

		<input type="text" class="form-control" id="txtSearchTable" ng-model="search.$" placeholder="Filter"/>
		<br/>
		<div class="table-responsive">
			<table class="table" ng-table="stockTableParams">
				<tr ng:repeat="stock in $data | filter: search.$">
					<td data-title="'SiteID'" sortable="'site_name'">{{ stock.site_reference}}</td>
					<td data-title="'ArticleID/SKU'" sortable="'item_code'">{{ stock.item_code}}</td>
					<td data-title="'Name'" sortable="'item_name'">{{ stock.item_name}}</td>
					<!--<td ng:repeat="attrib in stock.attributes.column" data-title="attrib['attribute_name']" sortable="attrib['attribute_name']">{{ stock.attributes[attrib.attribute_name]}}</td>-->
					<td data-title="'Attributes'" sortable="'attributes'">
						{{stock.attributes.string}}
					</td>
					<td data-title="'Tag'" sortable="'tag'">
						<span ng-repeat="t in stock.tags"><i ng-if="stock.tags.length > 0 && $index != 0">, </i>{{t.tag_name }}</span>
					</td>
					<td data-title="'UOM Dasar'" sortable="'item_unit'">{{ stock.item_unit}}</td>
					<td data-title="'Tersedia'" sortable="'quantity'">{{ stock.quantity}}</td>
					<td data-title="'Quality'" sortable="'quality'">{{ stock.quality}}</td>
					<td data-title="'Block'" sortable="''">{{  }}</td>
					<td data-title="'Konsinyasi'" sortable="'consignment'">{{ stock.consignment}}</td>
					<td data-title="'Proses Pengadaan'" sortable="''">{{  }}</td>
					<td data-title="'Sales Order'" sortable="''">{{  }}</td>
					<td class="col-sm-1">
						<button class="btn btn-primary" ui-sref="app.inventory.stock_status_detail ({item_code : '{{stock.item_code}}', attributes : '{{stock.attributes.link}}', site_reference : '{{stock.site_reference}}'})">Details</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!-- End of Customer Row -->



<!-- end: YOUR CONTENT HERE -->

<!-- JSZip -->
<script src="vendor/wijmo/scripts/vendor/jszip.min.js"></script>

<!-- Wijmo -->
<script src="vendor/wijmo/scripts/vendor/wijmo.min.js" type="text/javascript"></script>
<script src="vendor/wijmo/scripts/vendor/wijmo.xlsx.min.js" type="text/javascript"></script>
<link href="vendor/wijmo/styles/vendor/wijmo.min.css" rel="stylesheet" />

<script src="vendor/wijmo/scripts/vendor/wijmo.angular.min.js" type="text/javascript"></script>

<script src="vendor/wijmo/scripts/xlsxExport/expenseReportExport.js" type="text/javascript"></script>

<!-- <script src="vendor/wijmo/scripts/xlsxImport/drawWorkbook.js"></script> -->