<!-- start: PAGE TITLE -->
<div ng-controller="AttributeMasterEditController">  
    
	<section id="page-title" class="padding-top-15 padding-bottom-15" >
		<div class="row">
			<div class="col-sm-7">
				<h1 class="mainTitle">Edit Attribute</h1>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->

	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" ng-submit="updateAttribute()">
					<div class="form-group">
						<label for="txtAddress" class="col-sm-2 control-label">Nama</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="txtAddress" ng-model="attribute.attribute_name" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label for="txtAddress" class="col-sm-2 control-label">Default Value</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="txtAddress" ng-model="attribute.default_value" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox clip-check check-primary">
								<input type="checkbox" id="checkbox2" ng-model="attribute.status" ng-true-value="'A'" ng-false-value="'X'">
								<label for="checkbox2">
									Aktif
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-white" id="pnlAttributeItem">
					<div class="panel-heading border-light">
						<h4 class="panel-title text-primary">Attribute Items</h4>
						<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
					</div>
					<div collapse="pnlAttributeItem" class="panel-wrapper">
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
									<tr>
										<th>Value</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="item in attribute_items">
										<td>{{ item.attribute_item }}</td>
									</tr>
									</tbody>
								</table>
							</div>
							<button class="btn btn-alt btn-hover btn-primary" ng-click="displayNewAttributeItemModal()"><i class="ti-plus"></i>&nbsp;Tambah Value</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-alt btn-hover btn-primary">
					<span>Simpan</span>
					<i class="glyph-icon icon-plus"></i>
				</button>
				<button class="btn btn-alt btn-hover btn-danger" ui-sref="app.master.attribute">
					<span>Batal</span>
					<i class="glyph-icon icon-plus"></i>
				</button>
			</div>
		</div>
	</div>
	
	<script type="text/ng-template" id="history_modal">
		<div class="modal-header">
			<h3 class="modal-title">History UOM</h3>
		</div>
		<div class="modal-body bg-white">
			<table class="table">
				<thead>
					<tr>
						<th>Tanggal</th>
						<th>Waktu</th>
						<th>User</th>
						<th>Bagian</th>
						<th>Field</th>
						<th>Data Lama</th>
						<th>Data Baru</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="history in historyList">
						<td>{{ history.datetime | date:'dd/MM/yy'}}</td>
						<td>{{ history.datetime | date:'H:mm'}}</td>
						<td>{{ history.username }}</td>
						<td>{{ history.section }}</td>
						<td>{{ history.field }}</td>
						<td>{{ history.old_data }}</td>
						<td>{{ history.new_data }}</td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-primary" ng-click="closeModal()">Tutup</button>
		</div>
	</script>

	<script type="text/ng-template" id="add_attribute_item_modal">
		<div class="modal-header">
			<h3 class="modal-title">Add Attribute Value</h3>
		</div>
		<div class="modal-body bg-white">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="newValue" class="col-sm-2 control-label">New Value</label>
							<div class="col-sm-10">
								<input type="text" id="newValue" ng-model="newValue" class="form-control">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<button class="btn btn-primary" ng-click="submitNewValue()">Simpan</button>
				</div>
			</div>
		</div>
	</script>
</div>

<!-- end: YOUR CONTENT HERE -->
