<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15" >
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">Approve Request</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->
<div ng-controller="changePurchaseRequestDetailController">  
<div class="container-fluid container-fullw">
    
	<div class="row" ng-show="edit.itemListEdit">
		<div class="col-lg-12">
			<form class="form-inline">
				<div class="form-group">
					<label for="txtSearchCustomer"><h5>Cari Supplier&nbsp;</h5></label>
					<div class="input-group">
						<input type="text" class="form-control" id="txtSearchCustomer" ng-model="supplierName" typeahead="s.vendor_name for s in supplierList | filter:$viewValue | limitTo:20" typeahead-on-select="searchSupplier(supplierName)" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="searchSupplier(supplierName)">
									<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
  
	<br/>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white" id="pnlCustomerDetail">
				<div class="panel-heading border-light">
					<h4 class="panel-title text-primary">Detail Supplier</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
				</div>
				<div collapse="pnlCustomerDetail" ng-init="pnlCustomerDetail=false" class="panel-wrapper">
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtCustomerName" class="col-sm-2 control-label">Nama Supplier</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="txtCustomerName" ng-model="supplier.vendor_name" disabled/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPICName" class="col-sm-4 control-label">Nama PIC</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="txtPICName" ng-model="supplier.sales_pic" disabled/>
										</div>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtAddress" class="col-sm-2 control-label">Alamat</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="txtAddress" ng-model="supplier.address" disabled/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPhoneNumber" class="col-sm-4 control-label">No. Tel</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="txtPhoneNumber" ng-model="supplier.phone_number" disabled/>
										</div>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtCustomerName" class="col-sm-2 control-label">Kota</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="txtCity" ng-model="supplier.city" disabled/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPICName" class="col-sm-4 control-label">Kode Pos</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="txtPostcode" ng-model="supplier.postcode" disabled/>
										</div>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label for="txtCustomerName" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" id="txtEmail" ng-model="supplier.sales_email" disabled/>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="txtPICName" class="col-sm-4 control-label">No. Fax</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="txtFaxNumber" ng-model="supplier.fax_number" disabled/>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white" id="pnlItems">
				<div class="panel-heading border-light">
					<h4 class="panel-title text-primary">Detail Purchase Request</h4>
					<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
				</div>
				<div collapse="pnlItems" ng-init="pnlItems=false" class="panel-wrapper">
					<div class="panel-body">
						<div>
							<label for="currency">Mata Uang</label>
							<select class="cs-skin-slide" id="currency" ng-model="currency" ng-disabled="!edit.itemListEdit">
								<option value="idr">IDR</option>
								<option value="usd">USD</option>
								<option value="eur">EUR</option>
							</select>
						</div>
						<br/>
						<tabset class="tabbable">
							<tab heading="Umum">	
								<table class="table" ng-show="edit.itemList">
									<thead>
										<tr>
											<th class="col-md-3">Kode Barang (SKU) <span class="symbol required"></span></th>
											<th class="col-md-3">Nama Barang</th>
                                            <th ng-repeat="attribute in attributeList" ng-if="attribute.status != 'X'">{{attribute.attribute_name}}</th>
											<th class="col-md-1">Jumlah <span class="symbol required"></span></th>
											<th class="col-md-1">Unit <span class="symbol required"></span></th>
											<th>Catatan</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="itemRequest in itemRequestList">
											<td>
												<div class="input-group">
													<input type="text" class="form-control" ng-model="itemRequest.item_code" typeahead="itemLU.item_code as itemLU.item_code + ' - ' + itemLU.item_name for itemLU in itemList | filter:$viewValue | limitTo:30" typeahead-on-select="setItemCodeRequest($index, itemRequest.item_code)">
													<span class="input-group-btn">
														<button type="button" class="btn btn-primary" ng-click="displayItemDetailModal($index)"><i class="fa fa-search"></i>
														</button>
													</span>
												</div>
											</td>
											<td>{{ itemRequest.item_name }}</td>
											<td ng-repeat="attribute in attributeList" ng-if="attribute.status != 'X'">
												<select ng-model="itemRequest.attributes[attribute.attribute_name]" ng-options="attrib.attribute_item as attrib.attribute_item for attrib in attribute.attribute_items"></select>
											</td>
											<td><input type="number" class="form-control" placeholder="0" ng-model="itemRequest.quantity" min="1" maxlength="15" /></td>
											<td>
												<select ng-model="itemRequest.item_unit" ng-options="uom.alternative_uom as uom.alternative_uom for uom in itemRequest.uom_list"></select>
											</td>
											<td><input type="text" class="form-control" id="" placeholder="" ng-model="itemRequest.remark" /></td>
											<td>
												<a ng-hide="itemRequestList.length <= 1" ng-click="removeItemRequest(itemRequest)" class="text-danger">
													<i class="fa fa-times"></i>
												</a>
												<a ng-show="itemRequestList.length <= 1" ng-click="">
													<span>&nbsp;</span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<table class="table" ng-show="!edit.itemList">
									<thead>
										<tr>
											<th class="col-md-3">Kode Barang (SKU) <span class="symbol required"></span></th>
											<th class="col-md-3">Nama Barang</th>
                                            <th ng-repeat="attribute in attributeList" ng-if="attribute.status != 'X'">{{attribute.attribute_name}}</th>
											<th class="col-md-1">Jumlah <span class="symbol required"></span></th>
											<th class="col-md-1">Unit <span class="symbol required"></span></th>
											<th>Catatan</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="itemRequest in itemRequestList">
											<td>{{ itemRequest.item_code }}</td>
											<td>{{ lookupItemName(itemRequest.item_code); }}</td>
                                            <td ng-repeat="attribute in attributeList" ng-if="attribute.status != 'X'">{{itemRequest.attributes[attribute.attribute_name]}}</td>
											<td>{{ itemRequest.quantity | number }}</td>
											<td>{{ itemRequest.item_unit }}</td>
											<td>{{ itemRequest.remark }}</td>
										</tr>
									</tbody>
								</table>
								
								<div ng-show="edit.itemList">
									<button type="button" class="btn btn-alt btn-hover btn-primary" ng-click="edit.itemList = false; edit.itemListEdit = true; edit.toggleCost = true">
										<span>OK</span>
										<i class="glyph-icon icon-plus"></i>
									</button>
									<button class="btn btn-alt btn-hover btn-primary" ng-click="addItemRequest()" ng-disabled="!isItemRequestListValid()">
										<i class="ti-plus"></i> <span> Tambah Barang</span>
									</button>
								</div>
								
								<div ng-show="!edit.itemList && edit.itemListEdit">
									<button class="btn btn-alt btn-hover btn-primary" ng-click="edit.itemList = true; edit.toggleCost = false">
										<span>Edit</span>
										<i class="glyph-icon icon-plus"></i>
									</button>
								</div>
							</tab>
							
							<tab heading="Harga">	
								<table class="table">
									<thead>
										<tr>
											<th>Nama Barang</th>
											<th class="col-md-1">Jumlah</th>
											<th class="col-md-1">Unit</th>
											<th class="col-md-2">Mata Uang</th>
											<th class="col-md-2">Cost/Unit <span class="symbol required"></span></th>
											<th class="col-md-1">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="itemRequest in itemRequestList">
											<td>{{ lookupItemName(itemRequest.item_code); }}</td>
											<td>{{ itemRequest.quantity | number }}</td>
											<td>{{ itemRequest.item_unit }}</td>
											<td>{{ currency | uppercase}}</td>
											<td><input type="number" class="form-control" placeholder="0" ng-model="itemRequest.cost" min="1" maxlength="15" ng-disabled="!edit.toggleCost"/></td>
											<td>{{ itemRequest.quantity*itemRequest.cost || 0 | number:2}}</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="4"></td>
											<td>Total</td>
											<td>{{ sumTotal() || 0 && approver(sumTotal()) | number:2 }}</td>
										</tr>
									</tfoot>
								</table>
							</tab>
							<tab heading="Pengiriman">	
								<div class="panel panel-white" id="panel1" ng-repeat="deliveryRequest in deliveryRequestList">
									<div class="panel-heading">
										<h4 class="panel-title text-primary">
												Permintaan Pengiriman {{ $index+1 }}
										</h4>
										<ct-paneltool class="panel-tools" tool-collapse="tool-collapse"></ct-paneltool>
									</div>
									<div collapse="panel1" ng-init="panel1=(delivery.status=='X')" class="panel-wrapper">
										<div class="panel-body">
											<form class="form-horizontal">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="txtDeliveryDate{{ $index + 1 }}" class="col-sm-4 control-label">Tanggal Pengiriman <span class="symbol required"></label>
															<div class="col-sm-8">
																<input type="date" id="txtDeliveryDate{{ $index + 1 }}" name="input" ng-model="deliveryRequest.date" ng-disabled="!deliveryRequest.editMode" placeholder="yyyy-MM-dd" min="{{ getCurrentDateString(); }}" required/>
															</div>
														</div>
															
														<div class="form-group">
															<label for="txtCustomerName" class="col-sm-4 control-label">Alamat <span class="symbol required"></label>
															<div class="col-sm-8">
																<select class="cs-skin-slide" ng-model="deliveryRequest.site_id" ng-options="a.site_id as a.site_reference for a in siteList" ng-disabled="!deliveryRequest.editMode"></select>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="txtCustomerName" class="col-sm-2 control-label">Catatan Pengiriman</label>
															<div class="col-sm-10">
																<textarea class="form-control autosize msd-elastic: \n;" ng-model="deliveryRequest.remark" ng-disabled="!deliveryRequest.editMode"></textarea>
															</div>
														</div>
													</div>
												</div>
                                                <!--
												<div class="row">
													<div class="col-md-10 col-md-offset-2">
													<textarea class="form-control autosize msd-elastic: \n;" ng-model="deliveryRequest.warehouse_address" disabled>{{ searchWarehouseById(deliveryRequest.warehouse_id).address }}</textarea>
													</div>
												</div>
												-->
											</form>
											<br/><br/>
											<!-- TABLE if edit mode -->
											<div class="table-responsive">
												<table class="table table-bordered" ng-show="deliveryRequest.editMode">
													<thead>
														<tr>
															<th>Nama Barang</th>
															<th>Jumlah Order</th>
															<th>Jumlah Belum Direncanakan</th>
															<th>Jumlah Permohonan Pengiriman <span class="symbol required"></th>
															<th class="col-md-1">Unit</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="itemDeliveryRequest in deliveryRequest.item_delivery_request_list">
															<td>{{ itemDeliveryRequest.item_name }}</td>
															<td>{{ itemDeliveryRequest.requested_quantity | number }}</td>
															<td>{{ itemDeliveryRequest.remaining | number }}</td>
															<td><input type="number" class="form-control" placeholder="0" ng-model="itemDeliveryRequest.quantity" min="0" maxlength="15"/></td>
															<td>{{ itemDeliveryRequest.item_unit }}</td>
														</tr>
													</tbody>
												</table>
												
												<table class="table table-bordered" ng-show="!deliveryRequest.editMode">
													<thead>
														<tr>
															<th>Nama Barang</th>
															<th>Jumlah Order</th>
															<th>Jumlah Belum Direncanakan</th>
															<th>Jumlah Permohonan Pengiriman <span class="symbol required"></th>
															<th class="col-md-1">Unit</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="itemDeliveryRequest in deliveryRequest.item_delivery_request_list">
															<td>{{ itemDeliveryRequest.item_name }}</td>
															<td>{{ itemDeliveryRequest.requested_quantity | number }}</td>
															<td>{{ itemDeliveryRequest.remaining | number }}</td>
															<td>{{ itemDeliveryRequest.quantity | number }}</td>
															<td>{{ itemDeliveryRequest.item_unit }}</td>
														</tr>
													</tbody>
												</table>
											</div>
												
											<!--<div ng-show="deliveryRequest.editMode">-->
												<button class="btn btn-alt btn-hover btn-primary" ng-show="deliveryRequest.editMode && edit.itemListEdit" ng-disabled = '!isDeliveryRequestValid(deliveryRequest)' ng-click="checkDeliveryRequest(deliveryRequest)">
													<span>Ok</span>
													<i class="glyph-icon icon-plus"></i>
												</button>
												<button class="btn btn-alt btn-hover btn-primary" ng-show="!deliveryRequest.editMode && edit.itemListEdit" ng-click="deliveryRequest.editMode = true">
													<span>Edit</span>
													<i class="glyph-icon icon-plus"></i>
												</button>
												<button class="btn btn-alt btn-hover btn-danger" ng-show="edit.itemListEdit" ng-click="removeDeliveryRequest($index)" >
													<span>Hapus</span>
													<i class="glyph-icon icon-plus"></i>
												</button>
											<!--</div>-->
												
											<div ng-show="delivery.HLPFIELD_is_edit_mode && delivery.status != 'X'">
												<button class="btn btn-alt btn-hover btn-danger" ng-click="cancelDeliveryRequest(delivery)" >
													<span>Batalkan Rencana Pengiriman</span>
													<i class="glyph-icon icon-plus"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
	
								<button type="button" class="btn btn-alt btn-hover btn-primary" ng-disabled="!isAllowedToAddNewDeliveryRequest()" ng-click="addDeliveryRequest()" ng-show="edit.itemListEdit">
									<i class="ti-plus"></i> <span>Tambah Permintaan Pengiriman</span>
								</button>
							</tab>
							<tab heading="Lainnya">	
								<p>PR ini akan membutuhkan persetujuan dari:<input type="text" class="form-control" disabled value="{{ draftApprover(sumTotal()) }}" ng-model="approve.name" /></p>
								<input type="text" class="form-control" style="display: none" ng-model="approve.email" />
								<input type="text" class="form-control" style="display: none" ng-model="approve.user_id" />
								<div class="checkbox clip-check check-primary">
									<input type="checkbox" id="checkbox1" ng-model="edit.sendEmail">
									<label for="checkbox1">
										Email PO ke supplier
									</label>
								</div>
								<input type="text" class="form-control" ng-model="purchase.supplier_email"/>
							</tab>
						</tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-show="edit.submitPurchase">
		<button class="btn btn-alt btn-hover btn-primary" ng-click="submitPurchaseRequest()">
			<span>Save Purchase Request</span>
			<i class="glyph-icon icon-plus"></i>
		</button>
	</div>
    
		
	<script type="text/ng-template" id="modal_item_detail">
		<div class="modal-header">
			<h3 class="modal-title">Item Detail</h3>
		</div>
		<div class="modal-body bg-white">
			<input type="text" class="form-control" placeholder="Filter" ng-model="filter.$"/>
			<div class="table-responsive">
				<table class="table" ng-table="tableParams">
					<tr ng:repeat="item in $data | filter: filter">
						<td data-title="'Kode Barang'" sortable="'item_code'">{{ item.item_code }}</td>
						<td data-title="'Nama Barang'" sortable="'item_name'">{{ item.item_name }}</td>
						<td data-title="'Tipe Barang'" sortable="'item_unit'">{{ item.item_unit }}</td>
						<td data-title="'Tipe Persediaan'" sortable="'item_type'">{{ item.item_type }}</td>
						<td data-title="'Grup'" sortable="'item_subtype'">{{ item.item_subtype }}</td>
						<td>
							<button class="btn btn-alt btn-hover btn-primary" ng-click="setItemCode(item)">Pilih</button>
						</td>
					</tr>
				</table>
			</div>
			<button class="btn btn-primary" ng-click="closeModal()">Tutup</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="modal_customer_list">
		<div class="modal-header">
			<h3 class="modal-title">Daftar Customer</h3>
		</div>
		<div class="modal-body bg-white">
			<input type="text" class="form-control" id="txtSearchTable" ng-model="search.$"/>
			<div class="table-responsive">
				<table class="table" ng-table="customerListTableParams">
					<tr ng:repeat="customer in $data | filter: search">
						<td data-title="'Nama Customer'" sortable="'customer_name'">{{ customer.customer_name }}</td>
						<td data-title="'Nama PIC'" sortable="'pic_name'">{{ customer.pic_name }}</td>
						<td data-title="'No Telp'" sortable="'phone_number'">{{ customer.phone_number }}</td>
						<td data-title="'Email'" sortable="'customer_email'">{{ customer.customer_email }}</td>
						
						<td>
							<button class="btn btn-alt btn-hover btn-primary" ng-click="setCustomerIdToSearch(customer.customer_id)">Pilih</button>
						</td>
					</tr>
				</table>
			</div>
			<button class="btn btn-primary" ng-click="closeModal()">Tutup</button>
		</div>
	</script>
                                
</div><!-- End of Customer Row -->

</div>

<!-- end: YOUR CONTENT HERE -->