<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15" >
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">Service Execution</h1>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: YOUR CONTENT HERE -->

<div ng-controller="ServiceExecutionDetailController">  

<div class="container-fluid container-fullw bg-white">

	<div class="row" ng-show="!completedService.confirmed">
		<div class="col-lg-12">
			<p>
				Mohon dilakukan service execution sesuai dengan kondisi pelayanan:<br/>
				Permintaan Tanggal Service: {{ deliveryRequestDetail[0].requested_date }}
			</p>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Selesai</label>
					<div class="col-sm-10">
						<input type="date" class="form-control" ng-model="service.date_completed" placeholder="yyyy-MM-dd" datetime-local/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-10">
						<textarea class="form-control" ng-model="service.remark"></textarea>
					</div>
				</div>
			</form>
			<button class="btn btn-primary" ng-click="submitCompletedService()">Confirm Complete</button>
			<button class="btn btn-primary" ui-sref="app.purchase.active_service_detail({ requests_reference : requestDetail.requests_reference })">Kembali</button>
		</div>
	</div>

	<div class="row" ng-show="completedService.confirmed">
		<div class="col-lg-12">
			<p>
				Mohon dilakukan service execution sesuai dengan kondisi pelayanan:<br/>
				Permintaan Tanggal Service: {{ deliveryRequestDetail[0].requested_date }}
			</p>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Selesai</label>
					<div class="col-sm-10">
						<label>{{ completedService.date_completed | date:'dd-MM-yyyy'}}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-10">
						<textarea class="form-control" disabled>{{ completedService.remark }}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Konfirmasi oleh</label>
					<div class="col-sm-10">
						<label>{{ confirmedByUser(completedService.confirmed_by) }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal</label>
					<div class="col-sm-10">
						<label>{{ completedService.date_created | date:'dd-MM-yyyy' }}</label>
					</div>
				</div>
			</form>
			<button class="btn btn-primary" ui-sref="app.purchase.active_service_detail({ requests_reference : requestDetail.requests_reference })">Kembali</button>
		</div>
	</div>
	
</div><!-- End of Customer Row -->

</div>

<!-- end: YOUR CONTENT HERE -->